body {
    padding-top: 70px;
    margin: 0;
    padding: 0;

}

/* colour change to nav bar */
.new-navbar {
    background-color: #000;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.new-navbar .container {
    max-width: 100%;
}

/* logo in navbar */
.logo {
    height: 24px;
    width: auto;
}

.nav-link {
    color: white;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.3px;
    padding-top: 0;
    padding-bottom: 0;
}
/* grey hover over links */
.new-navbar .nav-link:hover {
    color: #cccccc !important;
}

.navbar-nav {
    margin-right: 32px;
}

.nav-item {
    margin-left: 24px;
}

.hero-section {
    background: url("../images/hero-section-gym.jpg") no-repeat center center/cover;
    padding-top: 80px;
    position: relative;
}
/*dark overlay*/
.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0,0,0,0.05) 40%, rgba(0,0,0,0.3) 100%);
    z-index: 1;
}
.hero-section h1 {
    text-shadow: 0 3px 10px rgba(0,0,0,0.50);
    color: azure;
}

.hero-section p {
    margin-bottom: 24px;
}

.hero-section p, .badge {
    text-shadow: 0 2px 4px rgba(0,0,0,0.4);
    color: white;
}

.hero-section .btn {
    border-radius: 8px;
    padding: 12px 32px;
    font-weight: 600;
}

.btn-outline-light {
    border-width: 2px;
}

.hero-section::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, #000 100%);
    z-index: 1;   
}
 
.fade-in {
    opacity: 0;
    animation: fadeUp 1s ease forwards;
}
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.features-section h4 {
    margin-top: 0;
    color: white !important
}
.features-section p {
    margin-top: 8px;
}
.features-section {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #000;
}

.avatar-img {
    width: 340px;
    height: auto;
    border-radius: 12px;
}

.avatars-section .col-md-4 {
  padding: 20px 0;
}

.avatar-img {
  transition: transform 0.3s;
}

.blaze:hover {
  filter: drop-shadow(0 0 30px rgba(255, 100, 0, 0.9));
}

.zaya:hover {
  filter: drop-shadow(0 0 30px rgba(0, 120, 255, 0.9));
}

.avatar-img:hover {
  transform: scale(1.05);
}