/* colour change to nav bar */
.new-navbar {
    background-color: #000;
    padding: 6px 0;
}

.new-navbar .container {
    max-width: 100%;
}

/* logo in navbar */
.logo {
    height: 24px;
    width: auto;
}

.nav-link {
    color: white;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.3px;
    padding-top: 0;
    padding-bottom: 0;
}

.new-navbar .nav-link:hover {
    color: #cccccc !important;
}

.navbar-nav {
    margin-right: 32px;
}

.nav-item {
    margin-left: 24px;
}