/* colour change to nav bar */
.new-navbar {
    background-color: #000;
    padding: 6px 0;
    padding: 6px 0;
}

.new-navbar .container {
    max-width: 100%;
}

/* logo in navbar */
.logo {
    height: 24px;
    width: auto;
}

.nav-link {
    color: white;
}

.nav-item {
    margin-left: 24px;
}